/* PAGE */

@media screen and (max-width: 750px) {
    #rd-row-jykmwjfx.bricks--row, #rd-row-jyknfi5v.bricks--row {
        flex-flow: row wrap-reverse;
    }
    
    #rd-column-jykmwjfy, #rd-column-jykmwjg1, #rd-column-jyknfi5y, #rd-column-jyknfi5w {
        flex-basis: 100%;
    }
}

/* TABLE */

.wrapper-table
    position relative
    width 100%
    display flex
    flex-flow row nowrap
    margin 0 auto

    @media screen and (max-width: 750px)
        flex-flow column wrap
        min-height 800px

    .table
        font-family 'Lato', sans-serif
        width calc(33% - 2px)
        display flex
        flex-flow column nowrap
        text-align center
        margin-right 2px
        z-index 1
        background-color #FFF

        &.active
            z-index 2

        @media screen and (max-width: 750px)
            width 100%
            max-width 360px
            left 50%
            transform translateX(-50%)
            position absolute

        &:last-child()
            margin-right 0

        .title-container
            background-color #00B0EF
            max-width 100%
            padding 20px
            display flex
            flex-flow row nowrap
            justify-content space-between
            align-items center
            color #FFF
            min-height 188px

            .title-container-middle
                width 100%

                @media screen and (max-width: 750px)
                    width auto

            .title-container-left, .title-container-right
                display none
                user-select none
                cursor pointer

                @media screen and (max-width: 750px)
                    display block

            h2
                font-size 34px
                margin 0
                
            h3
                font-size 22px
                margin 0

        .table-content
            margin 34px 
            max-width 100%

            tr
                display flex
                flex-flow row nowrap
                align-items flex-start
                border-bottom 1px solid #979797

                &:last-child
                    border-bottom 0

                td
                    font-size 14px
                    padding 10px 0
                    height auto
                    font-weight bold

                    &:nth-child(1)
                        margin-right auto
                        text-align left
                        max-width 40%
                        color #5C5C5C

                    &:nth-child(2)
                        margin-left auto
                        text-align right
                        max-width 60%
                        color #00B0EF