/* PAGE */
@media screen and (max-width: 750px) {
  #rd-row-jykmwjfx.bricks--row,
  #rd-row-jyknfi5v.bricks--row {
    flex-flow: row wrap-reverse;
  }
  #rd-column-jykmwjfy,
  #rd-column-jykmwjg1,
  #rd-column-jyknfi5y,
  #rd-column-jyknfi5w {
    flex-basis: 100%;
  }
}
/* TABLE */
.wrapper-table {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .wrapper-table {
    flex-flow: column wrap;
    min-height: 800px;
  }
}
.wrapper-table .table {
  font-family: 'Lato', sans-serif;
  width: calc(33% - 2px);
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin-right: 2px;
  z-index: 1;
  background-color: #fff;
}
.wrapper-table .table.active {
  z-index: 2;
}
@media screen and (max-width: 750px) {
  .wrapper-table .table {
    width: 100%;
    max-width: 360px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}
.wrapper-table .table:last-child() {
  margin-right: 0;
}
.wrapper-table .table .title-container {
  background-color: #00b0ef;
  max-width: 100%;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  min-height: 188px;
}
.wrapper-table .table .title-container .title-container-middle {
  width: 100%;
}
@media screen and (max-width: 750px) {
  .wrapper-table .table .title-container .title-container-middle {
    width: auto;
  }
}
.wrapper-table .table .title-container .title-container-left,
.wrapper-table .table .title-container .title-container-right {
  display: none;
  user-select: none;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .wrapper-table .table .title-container .title-container-left,
  .wrapper-table .table .title-container .title-container-right {
    display: block;
  }
}
.wrapper-table .table .title-container h2 {
  font-size: 34px;
  margin: 0;
}
.wrapper-table .table .title-container h3 {
  font-size: 22px;
  margin: 0;
}
.wrapper-table .table .table-content {
  margin: 34px;
  max-width: 100%;
}
.wrapper-table .table .table-content tr {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  border-bottom: 1px solid #979797;
}
.wrapper-table .table .table-content tr:last-child {
  border-bottom: 0;
}
.wrapper-table .table .table-content tr td {
  font-size: 14px;
  padding: 10px 0;
  height: auto;
  font-weight: bold;
}
.wrapper-table .table .table-content tr td:nth-child(1) {
  margin-right: auto;
  text-align: left;
  max-width: 40%;
  color: #5c5c5c;
}
.wrapper-table .table .table-content tr td:nth-child(2) {
  margin-left: auto;
  text-align: right;
  max-width: 60%;
  color: #00b0ef;
}
